.create-product {
  text-align: center;
  flex-direction: column;
  width: 100%;
}

.create-product-field-container {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  justify-content: center;

  & > div,
  button {
    margin: 15px 0 0 0;
  }

  & > div {
    width: 100%;
  }
}

.create-product-field {
  & > div {
    width: 100%;
    margin: 15px 0 0 0;
  }
}

.create-product-rating-field {
  display: flex;
  align-items: end;

  & > div {
    width: 100%;
  }
}
