.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px;
  min-height: calc(100vh - 176px);

  @media (min-width: 600px) {
    min-height: calc(100vh - 192px);
  }
}

.content {
  width: 100%;
  text-align: -webkit-center;
  text-align: -moz-center;
}
